--- 

- name: Apt Update
  apt:
    update_cache: true
    cache_valid_time: 3600
    state: present

- name: Install Essentials
  apt:
    name: "{{ item }}"
    state: present
  with_items:
    - curl
    - git
    - python3
    - python3-pip
    - python3-venv
    - python3-dev
    - build-essential
    - libssl-dev
    - libffi-dev
    - golang-go 