

# - name: Setup Docker
#   import_role:
#     name: geerlingguy.docker
#   tags: docker

# - name: Ensure current user is added to docker group
#   become: true
#   ansible.builtin.user:
#     name: "{{ ansible_user }}"
#     groups: docker
#     append: true
#   tags: docker

# - name: Setup NFS
#   become: true
#   block:
#     - name: Create media directory under /mnt/thomas
#       ansible.builtin.file:
#         path: /mnt/thomas/media
#         state: directory
#         owner: nobody
#         group: nogroup
#         mode: '0777'

#     - name: Install and configure NFS server
#       ansible.builtin.import_role:
#         name: geerlingguy.nfs
#       vars:
#         nfs_exports:
#           - "/mnt/thomas/media *(rw,async,no_subtree_check,no_root_squash)"
#   tags: nfs
