---
# Services installation tasks
# This file handles services that require custom installation methods

- name: Install Raspotify
  block:
    - name: Install curl (if not already installed)
      apt:
        name: curl
        state: present
    
    - name: Download and run raspotify install script
      shell: curl -sL https://dtcooper.github.io/raspotify/install.sh | sh
      args:
        creates: /usr/bin/raspotify
      become: true
      become_user: root
  tags: raspotify
  

- name: Install docker 
  block:
    - name: Install Docker
      ansible.builtin.import_role:
        name: geerlingguy.docker
      tags: docker

# - name: Install Docker
#   block:
#     - name: Add Docker GPG apt Key
#       apt_key:
#         url: https://download.docker.com/linux/ubuntu/gpg
#         state: present

#     - name: Add Docker Repository
#       apt_repository:
#         repo: deb https://download.docker.com/linux/ubuntu focal stable
#         state: present

#     - name: Update apt and install docker-ce
#       apt:
#         name: docker-ce
#         state: latest
#         update_cache: true

#     - name: Install Docker Module for Python
#       pip:
#         name: docker
    
#     - name: Install Docker Compose
#   tags: docker 

## use geerlingguy.docker collection not role


  